body{
    width: 100%; 
     background-image: url("https://images.unsplash.com/photo-1504052434569-70ad5836ab65?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Z29zcGVsfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80"); 
    height: 100%; 
    margin: 0;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}
